@import '../../styles/variables';

.container__inline {
  text-align: center;
}

.button {
  text-align: center;
  background-color: $color-primary;
  padding: 1rem 3rem;
  border-radius: 5px;
  color: $color-white;
  font-weight: $font-weight-medium;
  transition: transform 0.1 ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: scale(1.01);
  }
}
