// Fonts
$font-family-primary: 'Montserrat', sans-serif;

// Colors
$color-primary: #5a7009;

$color-black: #000000;
$color-grey: #525252;
$color-light-grey: #f6f6f6;
$color-white: #ffffff;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
