@import '../../styles/variables';

.header {
  display: flex;
  background-color: $color-white;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  &__logo {
    width: 2.6rem;
    height: auto;
  }

  &__navigation {
    ul {
      display: flex;
      gap: 2rem;
    }

    a {
      padding: 0.2rem;
      display: inline-block;
      font-weight: $font-weight-medium;
      font-size: 1.2rem;
      color: $color-grey;

      &:hover,
      &.active {
        border-bottom: 0.2rem dashed $color-primary;
      }
    }
  }
}
